.flex{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 display: -ms-flexbox;      /* TWEENER - IE 10 */
 display: -webkit-flex;     /* NEW - Chrome */
 display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
};
@mixin flex($value:1) {

    -webkit-flex:$value;
    -moz-flex:$value;
    -ms-flexbox:$value;
    flex:$value;
}
@mixin justify-content($value:center)
{
  /*混合版本语法*/
 -ms-flex-pack: $value;
 -webkit-justify-content: $value;
  justify-content:$value;
}

@mixin flex-direction($value:column)
{
  flex-direction: $value;
  -webkit-flex-direction:$value;

}

@mixin align-items($value:center)
{

  /*新版本语法*/
  -webkit-align-items: $value;
  /*老版本语法*/
  -webkit-box-align: $value;
  -moz-box-align: $value;
  /*混合版本语法*/
  -ms-flex-align: $value;
   align-items:$value;

}
@mixin align-content($value:center)
{

  /*新版本语法*/
  -webkit-align-content: $value;
  /*老版本语法*/
  -webkit-box-align: $value;
  -moz-box-align: $value;
  /*混合版本语法*/
  -ms-flex-align: $value;
   align-content:$value;

}

@mixin -webkit-box($value:wrap)
{
-webkit-box:$value;
flex-wrap:$value;

}

.flex-center{
   @extend .flex;
   @include justify-content(center);
   @include align-items(center);
}

.flex-left-center{
   @extend .flex;
   @include justify-content(flex-start);
   @include align-items(center);
}

.flex-right-center{
   @extend .flex;
   @include justify-content(flex-end);
   @include align-items(center);
}
.flex-left-right-center{
   @extend .flex;
   @include justify-content(space-between);
   @include align-items(center);
}
/*grid*/

.grid-content {

@extend .flex;
@include align-content(flex-start);
flex-flow: row wrap;
-webkit-flex-flow:row wrap;

}
.grid-item {
box-sizing: border-box;
@include flex(0 0 25%);
-webkit-box-flex: 1;
height: auto;
@extend .flex-center;
-webkit-box-pack: center;

img{
  width:1.68rem;
  height:1.68rem;
}
}
#__bs_notify__{
  display:  none !important;
}
